MOUNT
CREATE	file_fs
OPEN	file_fs
WRITE	DATA	00000
SEEK	0
READ	5	DATA	00000
WRITE	DATA	abcde
SEEK	5
READ	5	DATA	abcde
SEEK	5
WRITE	FILE	test_file
SEEK	0
READ	5	DATA	00000
READ	4096	FILE	test_file
CLOSE
DELETE	file_fs
UMOUNT
